/*Styles for Modal component*/
.modal{
	box-sizing: border-box;
	display: none;
	background: rgba(0,0,0,.66);
	left:0;
	padding: 3em;
	position: absolute;
	top: 0;
	width:100%;
	height: 100vh;
	z-index: 10;
}
.modal__dialogue{
	background: #eee;
	box-sizing: border-box;
	left: 50%;
	max-height: 80vh;
	overflow: auto;
	padding: 3em;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
}
.modal--open,
.no-js .modal {
	display: block;
	/* .no-js .modal : unhide content if JavaScript is off or fails */
}

